aside{
  float: left;
  border: black solid 1px;
  width: 15%;
  height: 500px;
  margin: 20px;
}

body{
  width: 100%;
  heigth: 100%;
}

section{
  width: 85%;
  margin: 30px;
}

h2, h4{
  margin-left: 20px;
}

.boxes{
  height: 160px;
  width: 160px;
  border: black solid 1px;
  float: left;
  margin: 20px;
  padding: 0px 10px 10px 10px;
  display: inline-block;
  box-sizing: border-box;
}

img{
 padding-left: 30px;
}

.boxes:first-of-type{
  margin-left: 0px;
}
li a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

li{
  list-style: none;
  padding: 5px 5px;
}

p{
  font-weight: 600;
}

ul {
    margin:0;
    padding: 10px;
}
